<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.intern.ab.starwish">

    <permission
        android:name="com.intern.ab.starwish.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.intern.ab.starwish.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeAnimation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAINPAGE" />
                <category android:name="android.intent.category.MAINPAGE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Celebration_animation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>

        <activity
            android:name=".EditWish"
            android:label="editWish"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".MakeWish"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity
            android:name=".MakeWish_animation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.intern.ab.starwish" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" />
    </application>
</manifest>
